#root {
  display: grid;
  grid-template-columns: 12fr;
}

.form {
  display: inline-flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 1rem;
}

.render {
  display: inline-flex;
  flex-direction: column;
  grid-column-start: 6;
  grid-column-end: 11;
  padding: 1rem;
}
